name: E2E Test (Selenium Webdriver)

# on: [pull_request]
on: [release]

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: npm
      - name: NPM install CI
        run: npm ci && npm install:chromedriver
      - name: Start app
        run: npm run start:ci &
      - name: Run test
        run: npm test
        env:
          CI: true
